.btn {
  width: 200px;
  height: 50px;
  background: var(--accent-dark);
  color: snow;
  font-size: 1.3rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  /* Margin from the right edge */
  margin-top: 20px; /* Adjust as needed */
  align-self: flex-end; /* Aligns to bottom if parent uses flexbox */
  box-sizing: border-box;
}
  
#analytics_window {
  padding: 0px 15px 0px 0px;
}

#analytics_window_circle_red {
  display: flex; 
  justify-content: center;
  align-items: center; 
  width: 25px;
  height: 25px; 
  border-radius: 50%;
  background-color: red;
}

#analytics_window_circle_purple {
  display: flex; 
  justify-content: center;
  align-items: center; 
  width: 25px;
  height: 25px; 
  border-radius: 50%;
  background-color: purple;
}

#analytics_window_row {
  padding: 0px 15px 0px 0px;
}

#dynamic_table_row {
  border: 5px solid white;
  border-radius: 5px;
  padding: 2px 40px 25px 40px;
}

#video_window {
  border-radius: 5px;
  height: 230px;
  width: 260px
}

#recording_page_container {
  font-family: 'Roboto', sans-serif; 
  overflow-x: auto;
  overflow-y: auto;
  padding: 2px 40px 25px 75px; 
  height: 100vh;
  width: 100vw;
  color: snow;
}

.centered-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

#title{
  justify-content: center;
  position: relative;
  top: 20px;
}
