/* global variables */
:root {
  --background-dark1: #1e1e1e;
  --background-dark2: #252526;
  --accent-dark: #2d2d30;
  --accent-light: #5c5c63;
  --border-color: #3e3e42;
}

#recordings-page {
  width: 100vw;
  height: 100vh;
}
#recordings-page h1 {
  color: white;
  font-size: 3rem;
  margin: 1rem;
}