/* global variables */
:root {
    --background-dark1: #1e1e1e;
    --background-dark2: #141414;
    --accent-dark: #2d2d30;
    --accent-light: #4f4f55;
    --border-color: #3e3e42;
}
.environment {
    margin-bottom: 10px;
}
.cluster {
    max-height: 153px;
    overflow-y: auto;
}
.add-cluster-btn {
    width: 100%;
    height: 35px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: snow;
    border: none;
    border-radius: 5px;
}
#add-cluster-icon {
    fill: var(--background-dark2);
    width: 20px;
    height: 20px;
}