.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #181818;
    width: 25%;
    min-width: 450px;
    height: 20%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: snow;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
    z-index: 10; /* Ensure popup is above other elements */
}

.popup p {
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
  
.button-container {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    width: 40%;
    height: 25%;
}

.popup button {
    padding: 10px;
    border-radius: 5px;
    width: 50%;
    cursor: pointer;
    outline: none;
    border: none;
    color: snow;
    background-color: var(--accent-dark);
    font-size: 1.2rem;
}

  