/* global variables */
:root {
    --background-dark1: #1e1e1e;
    --background-dark2: #141414;
    --accent-dark: #2d2d30;
    --accent-light: #4f4f55;
    --border-color: #3e3e42;
}

/* sidebar container  */
#side-bar {
    height: 100vh;
    width: 20%;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    border: solid white;
    background-color: var(--background-dark2);
}