:root {
  --background-primary-color: #1e1e1e;
  --border-color: #3e3e42;
}

body {
  background-color: var(--background-primary-color);
  color: white;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
