/* global variables */
:root {
    --background-dark1: #1e1e1e;
    --background-dark2: #252526;
    --accent-dark: #2d2d30;
    --accent-light: #5c5c63;
    --border-color: #3e3e42;
}

/* styling for analytics feed */
.analytics-feed {
    width: 100%;
    height: 32%;
    box-sizing: border-box;
    margin-top: 5px;
    padding: 3px;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.analytics-feed p {
    color: var(--background-dark1);
    background-color: var(--accent-light);
    font-size: 1.2rem;
    padding: 8px;
    border-radius: 5px;
    margin: 0;
    font-weight: 700;
}
.analytics-feed p.dangerous {
    background-color: #881414;
    color: var(--accent-dark);
}
.analytics-feed h2 {
    color: snow;
}

/* styling for objects container */
.objects-div {
    height: 59%;
    max-height: 59%;
    overflow-y: auto;
}
.objects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 5px;
}

/* styling for status bars */
.motion-status-bar {
    height: 40%;
    width: 100%;
    text-align: center;
}
.motion-status-bar .motion {
    background-color: snow;
    color: var(--background-dark1);
}
.motion-status-bar .no-motion {
    background-color: var(--accent-dark);
    color: snow;
}
.dangerous-objects-bar {
    height: 45%;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}
.dangerous-objects-bar .dangerous-objects-detected {
    background-color: red;
    color: snow;
}
.dangerous-objects-bar .no-dangerous-objects-detected {
    background-color: var(--accent-dark);
    color: snow;
}