.cluster-btn {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}
.cluster-camera-icon {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 5px;
}