/* global variables */
:root {
    --background-dark1: #1e1e1e;
    --background-dark2: #252526;
    --accent-dark: #2d2d30;
    --accent-light: #5c5c63;
    --border-color: #3e3e42;
}
.cluster-btn {
    background-color: #a6a6b2;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    position: relative;
    border: none;
    border-radius: 5px;
    margin-top: 1px;
}
.cluster-btn:hover {
    background-color: snow;
}
.cluster-camera-icon {
    width: 20px;
    height: 20px;
}
.close-cluster-icon {
    fill: var(--background-dark2);
    position: absolute;
    left: 10px;
    width: 16px;
    height: 16px;
    cursor: pointer;
}