/* global variables */
:root {
    --background-dark1: #1e1e1e;
    --background-dark2: #252526;
    --accent-dark: #2d2d30;
    --accent-light: #747480;
    --border-color: #3e3e42;
    --primary-font: 'Poppins', sans-serif;
    --secondary-font: 'Roboto', sans-serif;
}


body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main {
    background-color: #1e1e1e;
    color: snow;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

main::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    border-left: 52vw solid var(--background-dark2); /* Adjust the color as needed */
    border-top: 100vh solid transparent;
}

main::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
    border-left: 52vw solid var(--background-dark2); /* Adjust the color as needed */
    border-top: 100vh solid transparent;
    transform: scaleX(-1);
}

h1 {
    font-family: var(--secondary-font);
    font-size: 5rem;
    text-align: center;
    letter-spacing: 1px;;
    width: 70%;
    z-index: 5;
}

main > p {
    margin-top: -20px;
    font-size: 2rem;
    font-family: var(--primary-font);
    width: 70%;
    text-align: center;
    letter-spacing: 2px;;
    z-index: 5;
}

#login-container {
    width: 70%;
    height: 70vh;
    background-color: var(--accent-dark);
    border: 1px solid var(--border-color);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-family: var(--secondary-font);
    z-index: 5;
    position: relative;
    bottom: 2%;
}

#login-container:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s ease-in-out;
}

#login-container h2 {
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 20px;
    font-family: var(--secondary-font);
}

#login-container #user-information-fields {
    width: 50%;
    position: relative;
    bottom: 5%;
}

#login-container input {
    height: 50px;
    width: 100%;;
    outline: none;
    font-size: large;
    color: var(--background-dark1);
    border: none;
    font-weight: 400;
    padding: 10px;
    font-size: 1.5rem;
    border-radius: 5px;
    margin-bottom: 10px;
}

#login-button {
    width: 100px;
    height: 50px;
    background: var(--background-dark1);
    color: snow;
    font-size: 1.3rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    margin: 0 10px;
}

#register-link {
    color: snow;
}
#register-link:hover {
    color: #f0f0f0;
}
#register-link:visited {
    color: #727070;
}

